<h1>Pagina dei Prodotti</h1>


<div *ngIf="products.length > 0; else bloccoNoProdotti">
    <app-products-table (notify)="notifyProducts($event)"  [products]="products" ></app-products-table>
</div>

<div *ngIf="productsToBeOrdered && productsToBeOrdered.length > 0; else bloccoHtml">
   <app-products-table (notify)="notifyProductsToBeOrdered($event)"  title="Numero prodotti da riordinare" [products]="productsToBeOrdered" ></app-products-table>
</div>

<ng-template #bloccoHtml>
  <h2>Non ci sono prodotti da riordinare</h2>
</ng-template>

<ng-template #bloccoNoProdotti>
  <h2>Non ci sono prodotti in catalogo</h2>
</ng-template>
